{% extends 'base.html' %}

{% block body%}
<form >
    <div class="form-group p-3 ">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Paste your Resune</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Paste your Job Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
{% endblock body%}
